/* training vh time */
.header{
  height: 10vh;
  background-color:rgb(250, 227, 50);
}
.main{
  height: 75vh;
 background-color: rgb(61, 250, 212);
  margin-top: 2vh;
}

.footer{
  height: 8vh;
  margin-top: 2vh;
  background-color:rgb(73, 29, 91);
}
.wrapper{
  margin-left: 2vh;
}
.nav{
  height: 40vh;
  margin-top: 2vh;
  background-color:rgb(187, 224, 61);

  }
  .aside{
    background-color:rgb(52, 222, 14);
    height: 40vh;
    margin-top: 2vh;
