* {
  box-sizing: border-box;
}


h1 {
  font-family: 'Monoton', cursive;

  font-size: 59px;

  text-align: center;
}

div.one {
  width: 30%;

  height: auto;

  border-bottom:  3px solid grey;
  border-left: :  3px solid grey;

  background-color: snow;

  float: left;

  margin-left:2.5%;

  position: relative;
}

div.two {

  width: 30%;

  height: auto;

  border-bottom: 3px solid green;
  border-left: 3px solid green;

  background-color: grey;

  float:left;

  margin-left:2.5%;

  position: relative;
}

div.three {

  width: 30%;

  height: auto;

  border-bottom: 3px dotted blue;
  border-left: : 3px dotted blue;

  background-color: lightblue;

  float:left;

margin-left:2.5%;

position: relative;

}

div.box-text {
padding: 5px 15px;
text-align: right;
}

div.box-top {
  text-align: center;
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 10px;

}

label {
margin: 0;
position:absolute;
top: 0;
right: 0;
width: 120px;
text-align: center;
padding: 2px 2px 2px 2px;

/* border-left: 2px solid grey;
border-bottom: 2.5px solid grey;
text-align: center;
font-weight: bold;
font-size: 10px;
padding: 5px 15px ; */

/* position: absolute; meh .. */
}


.purple {
  background-color: purple;
}

.hotpink {
  background-color: hotpink;
}

.lightblue {
  background-color: lightblue;
}


.logo  {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.logo img {
    width:80%;
    min-width:40px;
    max-width:300px;
    margin:0 auto;
    display:block;
}
.clearfloat {

  clear:both;
}

body {

  margin: 0;
}

.paskutinis {

  margin-right: 2.5%;
}
