.signature-content {
    /*background-color: #CDC9C9;*/
    max-width: 50%;
    border-radius: 50px;
    padding: 80px;
}

.logo-container {
    max-width: 200px;

    display: inline-block;
}

.logo-container img {
    /*max-width: 100%;*/
    border: solid 2px #555;
    border-radius: 30px;
}
.image-fluid {
    width: 30%;

}

.map-pointer {
    position: relative;
    top: 50%;

    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
.fa-globe {
    position: relative;
    top: 50%;

    -webkit-webkit-transform:translate(0,-50%);
    -moz-webkit-transform:translate(0,-50%);
    -ms-webkit-transform:translate(0,-50%);
    -o-webkit-transform: translate(0,-50%);
    -khtml-webkit-transform:translate(0,-50%);
    webkit-transform: translate(0,-50%);
}
.fa-envelope {
    position:relative;
    top: 10%;
    left: 40%;
    -webkit-webkit-transform:translate(0,-50%);
    -moz-webkit-transform:translate(0,-50%);
    -ms-webkit-transform:translate(0,-50%);
    -o-webkit-transform: translate(0,-50%);
    -khtml-webkit-transform:translate(0,-50%);
    webkit-transform: translate(0,-50%);
}

i.fa {
    font-size: 20px;
}
.col-9 {
    font-weight: 600;
    margin-left: 1vw;

}
.c14 {
    margin-left: 4vw;
}
.col-10 {
    margin-bottom: 1vh;
    margin-left: 1vw;
}
.col-11 {
    margin-top: 1vh;
    margin-left: 1.5vw;
}
.row {
    flex-wrap: nowrap;
}